body {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  .enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .jugar button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 300px;
    font-size: 50px;
    padding: 30px;
    color: yellow;
  }